[report]
exclude_lines =
    pragma: no cover
    except re.error as e:
    except requests.ConnectionError as e:
    except requests.HTTPError as e:
    except FileExistsError:
    except requests.exceptions.RequestException:
    except FileNotFoundError:
    except AttributeError:
    os.remove(dest)
    continue
    return
    parameters = {

[run]
omit =
    .eggs/*
    venv/*
    setup.py
    magzdb/cli.py
    magzdb/version.py
